# Ignore all gensim word2vec .model files
*.model

# Ignore all pytorch weights .pth files
*.pth

# Ignore all gensim's util .npy files
*.npy

# i name the datasets that so they dont interfere with .txts
*.plaintextdset

# all expiriments
runs/